.haut{
    /* display: flex;
    height: 28vh; */
    background-image: url("img/New_York_City_at_night_HDR.jpg");
    background-repeat: no-repeat;
    background-color: black;
    background-size: cover;
    background-position: center;
}
 .body{
    font-family: 'Noto Sans Mono', monospace;
 }
/* .header{
margin-left: 10rem;
}

.header img{
    width: 16vw;
    height: 28vh;
    background-size: contain;
} */

/* .right{
    margin-left: 10rem;
    margin-top: 2rem;
}

.right img{
    height: 17vh;
    background-size: contain;
    margin-left: 8rem;
} */

.navbar {
    justify-content: space-between;
    background-image: url("img/pngtree-digital-home-appliance-promotion-main-map-image_128372.jpg");
    color: white;
}

.head {
    width: 50%;
    height: auto;
}

.header {
    width: 40%;
    height: auto;
}
/* .head {
    height: 10rem;
    width: 100%;
    margin-top: 1rem;
    margin-left: 1rem;
}

.head img{
    width: 9rem;
}*/

.titre{
    font-size: 4vw;
    color: white;
    font-family: 'Rampart One', cursive;
}

.right {
    width: 60%;
    height: auto;
}

.bas{
    color: gray;
}

.card{
    margin-bottom: 2rem;
}

.miniature{
width: 4vw;
}

.alignMiddle {
    vertical-align: middle;
}